/* pseudo-class yang berhubungan dengan link */

/* :first-child - memilih elemen pertama dari sebuah parent (elemen pembungkusnya) */
/* :last-child memilih elemen terakhir dari sebuah parent (elemen pembungkusnya) */
/* :nth-child(n) - memilih elemen ke-n dari sebuah parent (elemen pembungkusnya).
    n bisa berarti urutan (1), (2), ... atau pola (2n), (3n+2), (4n-1) atau ganjil dan genap (even) & (odd)
*/

/* try -> first-child, last-child */
/* try -> :nth-child(even), :nth-child(odd), :nth-child(2n-1),    */
li:nth-child(odd) a {
    color: green;
}

li:nth-child(odd) a:hover {
    color: red;
}

/* :first-of-type - memilih elemen pertama dari sebuah jenis / tipe tag */
/* :last-of-type -  memilih elemen terakhir dari sebuah jenis / tipe tag*/

/* try -> last-of-type */
p:first-of-type {
    color: red;
}