/* 1 */

div {
    height: 200px;
    width: 200px;
}

.container {
    width: 600px;
    height: 650px;
    margin: auto;
    border: 5px solid red;
}

.kotak1 {
    background-color: lightgreen;
}

.kotak2 {
    background-color: violet;
}

.kotak3 {
    background-color: gold;
}

.margin-auto {
    margin: auto;
}

.position-absolute {
    position: absolute;
    top: 0;
    right: 0;
}

.position-relative {
    position: relative;
}
